  body {
    padding-top: 73px; 
  }

  .carousel-item img {
    width: 100%; 
    height: 600px; 
  }

  .cardQuartos {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
    margin-bottom: auto;
    padding: 20px;
  }

  .card {
    width: 18rem;
  }

 .navbar{
    background-color: aliceblue;
 }

.card-img-top {
    object-fit: cover;
    max-height: 180px; 
  }

  .login {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}